body {
  background: #fffbdf;
  font-family: 'Source Sans Pro', sans-serif;
}

table {
  width: 800px;
  height: 350px;
  border: 2px solid black;
  border-collapse: collapse;
  background: white;
  margin: 10%;
  font-size: 1.7em;


}

#table th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

#table thead {
  text-transform: none;
}

.orange {
  background: #f7a440;
  color: white;
}

.blue {
  background: #56ccf2;
  color: white;
}

.green {
  background: #56ab2f;
  color: white;
}
